[Unit]
Description=Run data-send service daily at 2:00am

[Timer]
#OnBootSec=5min
#OnUnitActiveSec=1min
OnCalendar=*-*-* 2:00:00
Persistent=true

[Install]
WantedBy=timers.target
