[Unit]
Description=Sensor Data Send Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/sensors
ExecStart=/home/pi/sensors/run-sender.sh /home/pi/sensordata gvm@192.168.2.15 /home/gvm/
Restart=on-abort

[Install]
WantedBy=multi-user.target
